main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
button {
  background-color: #FFC94C;
  color: #215E82;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}







