#allStudentsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    background-color: #215E82;
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }
  #addNewStudentButton {
    width: fit-content;
    margin-right: 20px;
  }
  #allStudentsList {
    border: none;
    border-radius: 10px;
    width: 800px;
    padding: 20px;
  }
  .studentButton {
    background-color: white;
    color: #215E82;
    padding: 5px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Para que el overlay esté sobre el resto del contenido */
  }
  .close {
    cursor: pointer;
  }