.container {
  /* border: 1px red solid; */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 250px;
  color: var(--clr-text-grey);
  font-size: 24px;
}

.buttonContainer {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  gap: 50px;

}