#routeInfoContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #dropdownRoutes {
    background-color: #215E82;
    color: #FFC94C;
    border: none;
    border-radius: 5px;
    outline: none;
    width: auto;
    height: 30px;
    padding: 5px;
  }
