.container {
  /* border: 1px red solid; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: var(--clr-text-grey)
}

.header {
  /* border: 1px red solid; */
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 0px; */
  height: 80%;
  padding: 50px;

}

.timings {
  /* border: 1px blue solid; */
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-end;
  align-items: center;
  height: 450px;
  padding-bottom: 10px;
  font-size: 24px;
}

.time {
    border: 1px black solid;
  height: 110px;
  width: 130px;
  border-radius: 100%;
  background-color: var(--clr-background-100);
  display: flex;
  justify-content: center;
  align-items: center;
}



.schedule {
  /* border: 1px red solid; */
  flex-grow: 1;

}

.edits {
  /* border: 1px black solid; */
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: flex-end;
  align-items: center;
  height: 450px;
  padding-bottom: 25px;
}


.selectedDay {
  width: 210px;
  height: 520px;
  background-color: var(--clr-primary-600);
  position: relative;
  left: 420px;
  top: 45px;
  z-index: -2;
  border-radius: 50px;
  opacity: 0.5;


}